# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Environment files
.env
*.env
secrets.env

# Virtual environments
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Outputs
outputs/
*.out
*.tmp
*.bak

# FastAPI
*.sqlite3

# MongoDB
*.mongodb

# Audio/Video
*.wav
*.mp3
*.mp4
*.m4a
*.flac
*.ogg

# PDF
*.pdf

# Misc
*.swp
*.swo

# Ignore test results
*.pytest_cache/

# Ignore package management
pip-wheel-metadata/
__pypackages__/

# Ignore build
build/
dist/
*.egg-info/

# Ignore eggs
*.egg
*.eggs

# Ignore cache from all subfolders
llm_workflows/__pycache__/
routers/__pycache__/
utils/__pycache__/

gen-lang-client-0858700453-3ffbc840e488[1].json
